In [1]:
!pip install numpy
import numpy as np
# np.__version__

Requirement already satisfied: numpy in c:\users\sangavi.damodaran\anaconda\lib\site-packages (1.19.2)

In [2]:
lst = [10,20,30]
arr = np.array(lst)
print(arr,type(arr),arr.dtype)

[10 20 30] <class 'numpy.ndarray'> int32

In [3]:
lst = [10,20,30,40.7]
arr = np.array(lst)
print(arr,type(arr),arr.dtype)
#With Dtype paramter
arr = np.array(lst,dtype = int)
print(arr,type(arr),arr.dtype)

[10.  20.  30.  40.7] <class 'numpy.ndarray'> float64
[10 20 30 40] <class 'numpy.ndarray'> int32

In [4]:
a = np.zeros((2,3))
print(a)

[[0. 0. 0.]
 [0. 0. 0.]]

In [5]:
print(type(a))
# Dots next to Zero because by default the datatype of Array is Float

<class 'numpy.ndarray'>

In [6]:
print("Float Type by Default")
a = np.ones((2,3,4))
print(a)
print(" ")
#How to change the Data type add dtype = int , comp
print("Changing it to Int by adding dtype = int ")
a = np.ones((2,3,4) ,dtype =int)
print(a)
print(" ")
print("Changing it to Complex by adding dtype = complex ")
a = np.ones((2,3,4) ,dtype =complex)
print(a)

Float Type by Default
[[[1. 1. 1. 1.]
  [1. 1. 1. 1.]
  [1. 1. 1. 1.]]

 [[1. 1. 1. 1.]
  [1. 1. 1. 1.]
  [1. 1. 1. 1.]]]

Changing it to Int by adding dtype = int
[[[1 1 1 1]
  [1 1 1 1]
  [1 1 1 1]]

 [[1 1 1 1]
  [1 1 1 1]
  [1 1 1 1]]]

Changing it to Complex by adding dtype = complex
[[[1.+0.j 1.+0.j 1.+0.j 1.+0.j]
  [1.+0.j 1.+0.j 1.+0.j 1.+0.j]
  [1.+0.j 1.+0.j 1.+0.j 1.+0.j]]

 [[1.+0.j 1.+0.j 1.+0.j 1.+0.j]
  [1.+0.j 1.+0.j 1.+0.j 1.+0.j]
  [1.+0.j 1.+0.j 1.+0.j 1.+0.j]]]

In [7]:
type(a)

numpy.ndarray

In [8]:
b = np.array([(1,2,3), (4,5,6), (7,11,6)])
print(b)

[[ 1  2  3]
 [ 4  5  6]
 [ 7 11  6]]

In [9]:
c = np.array( [ (1+2j, 2+6j), (3,4) ], dtype=complex )
print (c)

[[1.+2.j 2.+6.j]
 [3.+0.j 4.+0.j]]

In [10]:
d = np.array([1+2j, 3+4j, 5+6j])
print (type(d))

<class 'numpy.ndarray'>

In [11]:
np.random.seed(3)
np.random.rand(1,7,1)
#Seed - is like base , there are some specific set of number which are listed for the particular number

array([[[0.5507979 ],
        [0.70814782],
        [0.29090474],
        [0.51082761],
        [0.89294695],
        [0.89629309],
        [0.12558531]]])

Creating an Array using Lists , Dictionary and Tuple

In [12]:
lst = [10,2,30]
arr = np.array(lst)
print(arr,type(arr),arr.dtype)
print(np.shape(arr),np.size(arr),np.ndim(arr),arr.dtype)

[10  2 30] <class 'numpy.ndarray'> int32
(3,) 3 1 int32

In [13]:
tup = (10,2,30)
arr = np.array(tup)
print(arr,type(arr),arr.dtype)
tup2 = (10,20,30)
arr = np.array((tup,tup2))
print(arr,type(arr),arr.dtype)
print(arr[0])
print(arr[1])
print(arr[0][1])
print(np.shape(arr),np.size(arr),np.ndim(arr),arr.dtype)

[10  2 30] <class 'numpy.ndarray'> int32
[[10  2 30]
 [10 20 30]] <class 'numpy.ndarray'> int32
[10  2 30]
[10 20 30]
2
(2, 3) 6 2 int32

In [14]:
dict1 = {1:10,2:20,3:30}
arr = np.array(dict1)
print(arr,type(arr),arr.dtype)
dict2 = {1:10,2:20,3:30}
arr = np.array((dict2,dict1))
print(arr,type(arr),arr.dtype)
print(arr[0])
print(arr[1])
print(arr[0][1])
print(np.shape(arr),np.size(arr),np.ndim(arr),arr.dtype)

{1: 10, 2: 20, 3: 30} <class 'numpy.ndarray'> object
[{1: 10, 2: 20, 3: 30} {1: 10, 2: 20, 3: 30}] <class 'numpy.ndarray'> object
{1: 10, 2: 20, 3: 30}
{1: 10, 2: 20, 3: 30}
10
(2,) 2 1 object

Using in BuiltFucntions

In [15]:
arr = np.arange(2,10)
arr
#Works like a range function

array([2, 3, 4, 5, 6, 7, 8, 9])

In [16]:
arr = np.arange(2,10,2)
arr
# The Third arugumnet represents the step

array([2, 4, 6, 8])

In [17]:
arr = np.linspace(11,21,35)
arr
#The First 2 represents therange and 3rd one represents the number of elements

array([11.        , 11.29411765, 11.58823529, 11.88235294, 12.17647059,
       12.47058824, 12.76470588, 13.05882353, 13.35294118, 13.64705882,
       13.94117647, 14.23529412, 14.52941176, 14.82352941, 15.11764706,
       15.41176471, 15.70588235, 16.        , 16.29411765, 16.58823529,
       16.88235294, 17.17647059, 17.47058824, 17.76470588, 18.05882353,
       18.35294118, 18.64705882, 18.94117647, 19.23529412, 19.52941176,
       19.82352941, 20.11764706, 20.41176471, 20.70588235, 21.        ])

In [18]:
arr = np.zeros((2,3),dtype=int)
arr
# Dimesnsion

array([[0, 0, 0],
       [0, 0, 0]])

In [19]:
arr = np.ones((2,3),dtype=int)
arr
#Dimension , data Type

array([[1, 1, 1],
       [1, 1, 1]])

In [20]:
arr = np.full((2,3),3)
arr
# Dimension , filler

array([[3, 3, 3],
       [3, 3, 3]])

In [21]:
arr = np.eye(2)
arr
#Identity matrix

array([[1., 0.],
       [0., 1.]])

In [22]:
arr = np.arange(0,25)
arr.reshape(5,5)

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24]])

In [23]:
print(np.shape(arr),np.size(arr),np.ndim(arr),arr.dtype)

(25,) 25 1 int32

# upcasting

In [24]:
a = [10,20,30.2]
arr = np.array(a)
print(arr,
type(arr),
arr.dtype)
# Type is float

[10.  20.  30.2] <class 'numpy.ndarray'> float64

In [25]:
a = [10,20,30+1j]
arr = np.array(a)
print(arr,
type(arr),
arr.dtype)
# Type is complex

[10.+0.j 20.+0.j 30.+1.j] <class 'numpy.ndarray'> complex128

In [26]:
a = [10,20,'30']
arr = np.array(a)
print(arr,
type(arr),
arr.dtype)
# Type is Unicode

['10' '20' '30'] <class 'numpy.ndarray'> <U11

In [27]:
a = [10,20,[10,20],{1:100}]
arr = np.array(a,dtype=object)
print(arr,
type(arr),
arr.dtype)
# Type is object

[10 20 list([10, 20]) {1: 100}] <class 'numpy.ndarray'> object

# Arithmentic Operation on an Array

In [28]:
a1 = np.arange(1,10).reshape(3,3)
a1

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [29]:

a2 = np.arange(11,20).reshape(3,3)
a2

array([[11, 12, 13],
       [14, 15, 16],
       [17, 18, 19]])

In [30]:
a1 + a2

array([[12, 14, 16],
       [18, 20, 22],
       [24, 26, 28]])

In [31]:
a1 - a2

array([[-10, -10, -10],
       [-10, -10, -10],
       [-10, -10, -10]])

In [32]:
a1 * a2

array([[ 11,  24,  39],
       [ 56,  75,  96],
       [119, 144, 171]])

In [33]:
a1 / a2

array([[0.09090909, 0.16666667, 0.23076923],
       [0.28571429, 0.33333333, 0.375     ],
       [0.41176471, 0.44444444, 0.47368421]])

In [34]:
a1 // a2

array([[0, 0, 0],
       [0, 0, 0],
       [0, 0, 0]], dtype=int32)

In [35]:
a1 ** a2

array([[          1,        4096,     1594323],
       [  268435456,   452807053,  -683606016],
       [-2094633337,           0,  -400556711]], dtype=int32)

In [36]:
a2 % a1

array([[0, 0, 1],
       [2, 0, 4],
       [3, 2, 1]], dtype=int32)

# Comparison Operator

In [37]:
print(a2 > a1 )
print(a2 >= a1 )
print(a2 < a1 )
print(a2 <= a1 )
print(a2 != a1 )
print(a2 == a1 )

[[ True  True  True]
 [ True  True  True]
 [ True  True  True]]
[[ True  True  True]
 [ True  True  True]
 [ True  True  True]]
[[False False False]
 [False False False]
 [False False False]]
[[False False False]
 [False False False]
 [False False False]]
[[ True  True  True]
 [ True  True  True]
 [ True  True  True]]
[[False False False]
 [False False False]
 [False False False]]

In [38]:
# VectorProduct - Refer notes
np.dot(a1,a2)

array([[ 90,  96, 102],
       [216, 231, 246],
       [342, 366, 390]])

# Compound Assignment

In [39]:
print(a1)
a1 += a2
print(a1)
a1 -= a2
print(a1)
a1 *= a2
print(a1)

[[1 2 3]
 [4 5 6]
 [7 8 9]]
[[12 14 16]
 [18 20 22]
 [24 26 28]]
[[1 2 3]
 [4 5 6]
 [7 8 9]]
[[ 11  24  39]
 [ 56  75  96]
 [119 144 171]]

# Unary Operations

In [52]:
print(a1.min())
print(a1.max())
print(a1.sum())

0
29
435

19

In [41]:
#Operations along the row ,
a1 = np.arange(0,30)
a1 = a1.reshape(6,5)
a1

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24],
       [25, 26, 27, 28, 29]])

In [42]:
print(a1.sum(axis = 0))#Sum of rows
print(a1.sum(axis = 1))#Sum of columns

[75 81 87 93 99]
[ 10  35  60  85 110 135]

In [43]:
print(a1[1:3])
print(a1[0:2,1:3])

[[ 5  6  7  8  9]
 [10 11 12 13 14]]
[[1 2]
 [6 7]]

In [45]:
# I want 6 , 16 , 8 , 18 
row = [1,1,3,3]
col = [1,3,1,3]
a1[row,col]

array([ 6,  8, 16, 18])

In [48]:
a1[a1>10]

array([11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27,
       28, 29])

In [54]:
#Finding the count of number greater than 40
a1>10
np.sum(a1>10)

array([[False, False, False, False, False],
       [False, False, False, False, False],
       [False,  True,  True,  True,  True],
       [ True,  True,  True,  True,  True],
       [ True,  True,  True,  True,  True],
       [ True,  True,  True,  True,  True]])

In [61]:
np.sum(a1>25,axis=1)

array([0, 0, 0, 0, 0, 4])

In [62]:
np.any(a1>25)
#True if any of the element is satisfying the condition

True

In [64]:
np.all(a1>25)
#True if all of the elements are satisfying the condition

False

In [109]:
#Iterating over an array 
arrr = np.arange(10,50)
arrr = arrr.reshape(4,-1)

In [110]:
for i in arrr:
    print(i)

[10 11 12 13 14 15 16 17 18 19]
[20 21 22 23 24 25 26 27 28 29]
[30 31 32 33 34 35 36 37 38 39]
[40 41 42 43 44 45 46 47 48 49]

In [111]:
for i in arrr:
    for j in i:
        print(j)

10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49

In [112]:
# Splitting the array 
arrr.reshape(2,-1)
np.split(arrr,2)

[array([[10, 11, 12, 13, 14, 15, 16, 17, 18, 19],
        [20, 21, 22, 23, 24, 25, 26, 27, 28, 29]]),
 array([[30, 31, 32, 33, 34, 35, 36, 37, 38, 39],
        [40, 41, 42, 43, 44, 45, 46, 47, 48, 49]])]

In [114]:
np.split(arrr,2,axis=1)

[array([[10, 11, 12, 13, 14],
        [20, 21, 22, 23, 24],
        [30, 31, 32, 33, 34],
        [40, 41, 42, 43, 44]]),
 array([[15, 16, 17, 18, 19],
        [25, 26, 27, 28, 29],
        [35, 36, 37, 38, 39],
        [45, 46, 47, 48, 49]])]