### DataTypes in Python 
1. Integer
2. Float
3. Binary
4. Set
5. Tupple
6. Dictionary
7. List 
8. String 
9. Complex

In [1]:
a = 10;
print(type(a))
#Float
a = 10.2
print(type(a))
#Boolean
a = False
print(type(a))
#Complex
a = 10 + 2j
print(type(a))
#String
a = 'Hello'
print(type(a))
#Set
a = {2,3,5}
print(type(a))
#List
a = [1,2,3]
print(type(a))
#Dictionary
a = {1:'String'}
print(type(a))
#Tupple
a = ('Sangavi', 24)
print(type(a))

Types of Integer data types
1. Binary (Base 2) 0 and 1
2. Octal (Base 8) 0 to 7
3. Decimal ( Base 10 ) 0 to 9
4. Hexadecimal ( Base 16 ) 0 to 9 and A to F

Representation : 
- Binary 0B1010
- Octal 0O123
- Hex 0X18
- Decimal Normal int representation

# Conversion of Integer Datatypes

## Decimal to other Types:

In [2]:
a = 10 
print(bin(a))
print(oct(a))
print(hex(a))

## Other data types to Binary

In [3]:
a = 0b10100
print(a) #Binary conversion happens by default
a = 0XF
print(a)
a- 0O71
print(a)

20
15
15

# Other Conversions

In [4]:

a = 0O71
b = hex(a)
print(b)
a = 0B1010101
b = oct(a)
print(b)
print(a) 
print(eval(b))

0x39
0o125
85
85

# Float Data types

There is no concept of double in Float data types in Python 
Any value with a decimal point is called as float

10.2 , 10.0002 , 10.0000000002 , 10.0
Example:

In [5]:
a = 10.000000000000010002
print(type(a))
a = 10.0
print(type(a))

<class 'float'>
<class 'float'>

  ## Type casting with Float Datatypes

In [6]:
b = int(a)
print(b)
b = complex(a)
print(b)
b = bool(a)
print(b)
b = str(a)
print(b)

10
(10+0j)
True
10.0

# Boolean Data 
1. True
2. False

## Representation of Boolean in other data types
- int - 0's and 1's
- String -
- Float 1.0 0.0
- complex 1+0j 0+0j

In [7]:
a = True
b= False
print(type(a),type(b))
print(int(a),int(b))
print(float(a),float(b))
print(str(a),str(b))
print(complex(a),complex(b))

<class 'bool'> <class 'bool'>
1 0
1.0 0.0
True False
(1+0j) 0j

# String data Types

Any word or group of words enclosed with in single , double or Multiple quotes are called string 
Representation
1. 'Sangavi'
2. "Sangavi"
3. " " " Sangavi" " " 

# Type conversion

In [6]:
a = 'Sangavi'
b = " Sangavi "
c = """Hello Sangavi,
"How are you?"
I'm fine
"""
d = 'This is Python\'s class' #Single apostrophe
print(d)
#Multiple Line String with apostrophe -  Triple Quotes
print(type(a))
print(type(b))
print(type(c))

This is Python's class
<class 'str'>
<class 'str'>
<class 'str'>

# String Properties

1. String is a sequence
2. increasing order +ve from left to right
3. increasing order -ve from right to left
4. Basic operations

•	indexing 
•	slicing
•	concatenation 
•	repetation
•	membership
•	identitya
•	length

In [57]:
#To get the length of  String and Indexing
a = "My name is Sangavi Damodaran"
print(len(a))
print((a[17])) #From Left
print(a[-1]) #From Right

# Slicing
# - Stringname [start:stop:step]
# +ve - forward - left to right
# -ve - backward- right to left

print(a[10::])
print(a[10:19:])
print(a[::-1])
print(a[-1:-18:-1])

a = "My sister's name is Janani "
b = "My sister's name is Janani "
#Concatination
print(a + " Damodaran")
print(a + '2.0')

#Repetation
print(a * 2)
# print(a * 2.0) Throws error 

#Membership 
print ('J' in a)
print ('j' in a)

#Identity 

print( a is b)
s1= "Sangavi"
s2 = 'Sangavi'
print(s1 is s2)

28
i
n
 Sangavi Damodaran
 Sangavi
naradomaD ivagnaS si eman yM
naradomaD ivagnaS
My sister's name is Janani  Damodaran
My sister's name is Janani 2.0
My sister's name is Janani My sister's name is Janani
True
False
False
True

In [9]:
a = '10'
print(int(a),type(a))
a = '10.0'
print(float(a),type(a))
a = '' #Null Value is considered as false
print(bool(a),type(a))
a = "False" #Everything else is true in Boolean to String conversion
print(bool(a),type(a))
a = "3+3j"
#a = "3+   5j"
#a = a.replace(" ", "") # will do nothing if unneeded #Purpose is to remove spaces in the String
b = complex(a)
print(b)
a = {1, 3, 5 }
print(str(a),type(a))
a = [2,4,6]
print(str(a),type(a))
a = (1, 5,10)
print(str(a),type(a))
a = {a:'apple' ,  b : 'ball'}
b= str(a)
print(str(a),type(a))

10 <class 'str'>
10.0 <class 'str'>
False <class 'str'>
True <class 'str'>
(3+3j)
{1, 3, 5} <class 'set'>
[2, 4, 6] <class 'list'>
(1, 5, 10) <class 'tuple'>
{(1, 5, 10): 'apple', (3+3j): 'ball'} <class 'dict'>

# Operators in python

- Arithmetic
- Comparison
- Equality
- Logical
- Bitwise
- Assignment 
- Compound Assignment
- Membership 
- Identity Operator
- Ternary Operator

# Arithmetic Operators - 
### works on all Number types(Float , Complex , Int)
(+ , - , * , /(gives floating point value), %(modulo) (reminder), //(floor division)(quotient) , ** (Exponent or power))

In [10]:
a = 5 
b = 2
print(a + b)
print(a - b)
print(a * b)
print(a / b) # returns float
print(a % b) # return reminder
print(a // b) # returns quotient
print( a ** b) #a^b

7
3
10
2.5
1
2
25

# Comparison Operator
( < , > , >= , <=)
- Comparison between int and float is possible
- Comparison between other data types in not possible
- comparison between complex to complex data types is not possible

In [11]:
a = 10 
b = 10.2
print(a > b)
print(a < b)
print(a <= b)
print('Python' >= 'Python')
print('Python' >= 'python')
#print((2+2j)>(1+1j)) gives error

False
True
True
True
False

# Equality Operator
--> , == , != 
- Equality comparison betweeb different data type is not possible
- Compares only the value

In [12]:
#To get the ASCII Value of a character , To convert the ASCII code to Character
print (ord('A'))
print(chr(66))
print("A" == 'A')
print ('A' == 65)
print(a != 64)

65
B
True
False
True

# Logical Operators
logic is always true or false
+ Truth Table - AND 
 - TRUE AND TRUE = TRUE
 - FALSE AND FALSE = FALSE
 - TRUE AND FALSE = FALSE
 - FALSE AND TRUE = FALSE
+ Truth table OR
 - TRUE OR TRUE = TRUE
 - FALSE OR FALSE = FALSE
 - TRUE OR FALSE = TRUE
 - FALSE OR TRUE = TRUE
+ Truth Table - AND 
 - NOT FALSE = TRUE
 - NOT TRUE = FALSE

In [13]:
print(True and False)
print(True or False)
print(not True)
print((10>20) and True)
print((10>20) or True)
print(0 or 0.1)

False
True
False
False
True
0.1

# Bitwise Operator 
(& , | , ^ , ~ , <<, >>)
- Always works on integer
- All numbers are converted into bits and operation is performed bit by bit

## Bitwise Truth table AND
- 1 &  0 = 0 
- 0 & 0 = 0
- 1 & 1 = 1
- 0 & 1 = 0

## Bitwise Truth table OR
- 1 |  0 = 1
- 0 | 0 = 0
- 1 | 1 = 1
- 0 | 1 = 1

## Bitwise Truth table NOR
- 1 ^  0 = 1 
- 0 ^ 0 = 0
- 1 ^ 1 = 0
- 0 ^ 1 = 1

In [14]:
print( 23 & 400)
print (23 | 400)
print(23 ^ 400)
print(~10)
print(~-8) #Bitwise Negation
#<< bitwise left shift and >> bitwise right shift (2 operands)
# 1. Number to be shifted , 2. How many numbers to be shifter
print(230 << 5)
print(230 >> 5)

16
407
391
-11
7
7360
7

# Assignment Operator
    ( = )
    a =10

# Compoud Assignement

- +=
- -=
- *=
- /=
- //=
- %=
- **=
- ^=
- <<=,  >>=

In [15]:
a = 5
a += 1 # Increment by 1
print(a)

6

# Membership operator 
checks whether a element is a part of sequence or not
 - in
 - not in
 
 ## used in 
 set , tupple , dictionary , list , byte , range

In [16]:
print('p' in 'Python')
print(100 in [100,102,104])
print (a in {a : "apple" , b : "banana" , c : "carrot"})
print('fox' in ('cat', 'dog','Elepant', 'fox'))

False
True
True
True

# Identity operator
- is 
- is not
+ is : 
returns true if both are same

In [17]:
a = 10
b = 10 
print (a is b)

print(id(a))
print(id(b)) 

x = 200
y = 200
# Object reusability

print(id(x))
print(id(y))
print( x is b)
# Already available in memory,  when we create a object only the reference will be calculated
# 0 to 256
# A to Z, a to z , 
# none ,
# true false

True
140721809139776
140721809139776
140721809145856
140721809145856
False

# Terenary Operator

In [18]:
a = int(input(" Enter a Value"))
b = int(input(" Enter a Value"))
c = int(input(" Enter a Value"))
print(a if a>b and a>c else b if b>c else c )

#cond?Expr1:Expr2

 Enter a Value100
 Enter a Value120
 Enter a Value130
130

# None Data type
In java when we declare a variable , 
int a; 
the value stored in a will be null
but here we need to implicitely mention the data type when you want the data type to be 'null ' 

- NameError: name 'R' is not defined

In [3]:
R = None
print(type(R))

<class 'NoneType'>